<h1>Hello World from hello</h1>

<%= 1 + 1 %><br />

<% target = "world" %>

<%= "hello #{target}" %> <br />

<% @array.each do |n| %>
    <%= n %><br />
<% end %>

<br />

<%= link_to ("index page"), ({:action => 'index'}) %><br />

ID: <%= @id %><br />
ID: <%= params[:id] %><br />
PAGE: <%= @page %><br />
NEXT PAGE <%= @page.to_i + 1 %><br />
